# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# FastAPI / secrets
backend/.env

# Vector database
pipelines/**/vectorstore_db/

# Build outputs
frontend/build/
dist/

# OS junk
.DS_Store
Thumbs.db
